body {
  &.top-arrived {
    :global(.rspress-nav) {
      background-color: #0000 !important;
      backdrop-filter: none;
    }
  }

  :global(.rspress-nav) {
    background-color: var(--iringo-semi-transparent-component-color);
    backdrop-filter: saturate(180%) blur(20px);
    transition-property: background-color, backdrop-filter;
    transition-duration: .3s;
    transition-timing-function: ease-in-out;
  }
}


.repo {
  display: flex;
  align-items: center;
  margin-top: 4rem;
  gap: .5rem;
}

.sourceCode {
  fill: currentColor;
  color: var(--rp-c-text-2);

  &:hover {
    color: var(--rp-c-text-1);
  }
}