@font-face {
  font-family: sf pro display;
  font-style: italic;
  font-weight: 100;
  src: local('SF Pro Display'), url(../fonts/SFPRODISPLAYULTRALIGHTITALIC.woff2) format('woff2'), url(../fonts/SFPRODISPLAYULTRALIGHTITALIC.woff) format('woff');
}

@font-face {
  font-family: sf pro display;
  font-style: italic;
  font-weight: 200;
  src: local('SF Pro Display'), url(../fonts/SFPRODISPLAYTHINITALIC.woff2) format('woff2'), url(../fonts/SFPRODISPLAYTHINITALIC.woff) format('woff');
}

@font-face {
  font-family: sf pro display;
  font-style: italic;
  font-weight: 300;
  src: local('SF Pro Display'), url(../fonts/SFPRODISPLAYLIGHTITALIC.woff2) format('woff2'), url(../fonts/SFPRODISPLAYLIGHTITALIC.woff) format('woff');
}

@font-face {
  font-family: sf pro display;
  font-style: normal;
  font-weight: 400;
  src: local('SF Pro Display'), url(../fonts/SFPRODISPLAYREGULAR.woff2) format('woff2'), url(../fonts/SFPRODISPLAYREGULAR.woff) format('woff');
}

@font-face {
  font-family: sf pro display;
  font-style: normal;
  font-weight: 500;
  src: local('SF Pro Display'), url(../fonts/SFPRODISPLAYMEDIUM.woff2) format('woff2'), url(../fonts/SFPRODISPLAYMEDIUM.woff) format('woff');
}

@font-face {
  font-family: sf pro display;
  font-style: italic;
  font-weight: 600;
  src: local('SF Pro Display'), url(../fonts/SFPRODISPLAYSEMIBOLDITALIC.woff2) format('woff2'), url(../fonts/SFPRODISPLAYSEMIBOLDITALIC.woff) format('woff');
}

@font-face {
  font-family: sf pro display;
  font-style: normal;
  font-weight: 700;
  src: local('SF Pro Display'), url(../fonts/SFPRODISPLAYBOLD.woff2) format('woff2'), url(../fonts/SFPRODISPLAYBOLD.woff) format('woff');
}

@font-face {
  font-family: sf pro display;
  font-style: italic;
  font-weight: 800;
  src: local('SF Pro Display'), url(../fonts/SFPRODISPLAYHEAVYITALIC.woff2) format('woff2'), url(../fonts/SFPRODISPLAYHEAVYITALIC.woff) format('woff');
}

@font-face {
  font-family: sf pro display;
  font-style: italic;
  font-weight: 900;
  src: local('SF Pro Display'), url(../fonts/SFPRODISPLAYBLACKITALIC.woff2) format('woff2'), url(../fonts/SFPRODISPLAYBLACKITALIC.woff) format('woff');
}

:root {
  --rp-font-family-base: 'SF Pro Display', 'Inter var experimental', 'Inter var', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans',
    'Helvetica Neue', sans-serif;
}
